{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react|react-dom)",
    "^@?\\w",
    "^@app(/.*)?$",
    "^@pages(/.*)?$",
    "^@widgets(/.*)?$",
    "^@features(/.*)?$",
    "^@entities(/.*)?$",
    "^@shared(/.*)?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
